VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_GEMINI_API_KEY=

VITE_ELEVENLABS_API_KEY=sk_ff2573454da91fd143632d712f36c3209e1f4f64d1e84962
VITE_ELEVENLABS_VOICE_ID=auq43ws1oslv0tO4BDa7
VITE_SEARCH_API_KEY=9He1P5C4c8qLFxyoXwZyPiD5
